<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

<p>
  <%= link_to "Back to Posts", posts_path, class: "btn btn-success" %>
  <%= link_to "Edit", edit_post_path, class: "btn btn-primary" %>
  <%= link_to "Delete", post_path, class: "btn btn-danger", method: :delete, data: { confirm: "U sure?"} %>
</p>